img {
 margin-top: 15px;
 width: 200px;
 height: auto;
 padding: 15px;
 border: dotted #adad85;
}

@media  (max-width: 768px){
  img {
    margin-top: 40px;
  }
  .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
 }
}

.lead {
  margin-top: 15px;
}
